.header
{
    display: flex;
    background-color: #4D585B;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.content
{
    display: flex;
    justify-content: center;
    background-color: #B4B4B4;
}

.content_row
{
    display: flex;
    width: 60%;
}

.content_column
{
    display: flex;
    flex: 50%;
}

.column_1
{
    display: flex;
    flex-wrap: wrap;
    background-color: #488A99;
    height: 600px;
}

.column_2
{
    display: flex;
    flex-wrap: wrap;
    background-color: #DBAE58;
    height: 600px;
}

.column_1_image--style
{
    width: 380px;
    height: 230px;
    margin: 25px;
    border: 5px solid #B4B4B4;
}

.column_1_text--style
{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    padding: 25px; 
    padding-top: 5px;
}

.column2--header
{
    width: 50px;
    padding-left: 140px;
    text-decoration: underline;
}

.row-full
{
    display: flex;
    justify-content: center;
    width: 30vw;
    position: absolute;
    height: 50px;
    left: 50%;
}

.column2--title
{
    text-decoration: underline;
}

.column_2--header
{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: white;
}

.column_2--content
{
    padding: 15px;
    margin-top: -60px;
}

.column_2_text--headers
{
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 16px;
    font-weight: bold;
    /* padding-top: 10px; */
}

.column_2_text--content
{
    color: white;
    font-size: 14px;
}

ul
{
    list-style: none;
}

ul li::before
{
    content: "\2022";
    color: white;
}


.column_2 mark
{
    background-color: #488A99;
    color: white;
}